.card-nota{

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   background-color: rgb(175, 184, 183);
   border-radius: 4px;
   flex-wrap: wrap;
   box-shadow: 0 0 4px black;
   padding: 16px;
}

.card-nota_cabecalho {

    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.card-nota_texto {

    margin-top: 30px;
    font-size: 1em;
}

.card-nota_titulo {

    font-size: 1.6em;
    margin-right:12px  ;
}